#{extends 'theme/main.html' /}

#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
      <div id="panel2" class="panel panel-default magic-element width-full isotope-item col-md-10" style="position: relative">
	     <div class="panel-heading">
	     	<strong>&Uacute;ltimos arquivos importados</strong>
	     </div>
	     <table class="table table-striped">
	         <thead>
	             <tr>
	                 <th>Id</th>
	                 <th>Indicador</th>
	                 <th>Atributo</th>
	                 <th>Valor</th>
	             </tr>
	         </thead>
	         <tbody>
	         #{list objects, as:'object'}
	         <tr>
	                 <td>${object.id}</td>
					 <td>${object.indicador.nome}</td>
	                 <td>${object.atributo.nome}</td>
	                 <td>${object.valor}</td>
	             </tr>
			#{/list}
	         </tbody>
	     </table>
 		</div>
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
