 <!-- open nav ul -->
<ul>
        <li class="side-nav-item ${request.action == 'Indicadors.list'? 'active' : '' }">
            <a href="/indicador">
                <i class="nav-item-icon icon glyphicon glyphicon-compressed"></i>
                Indicador Biológico
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'Atributos.list'? 'active' : '' }">
            <a href="/atributo">
                <i class="nav-item-icon icon glyphicon glyphicon-flag"></i>
                Atributo
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'Observacaos.list'? 'active' : '' }">
            <a href="/registro">
                <i class="nav-item-icon icon glyphicon glyphicon-edit"></i>
                Observação
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'DevController.list'? 'active' : '' }">
            <a href="/dev">
                <i class="nav-item-icon icon glyphicon glyphicon-edit"></i>
                Lote
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'DarwinCores.list'? 'active' : '' }">
            <a href="/darwincore">
                <i class="nav-item-icon icon glyphicon glyphicon-tag"></i>
                Atributo DarwinCore
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'Mapping.list'? 'active' : '' }">
            <a href="/mapping">
                <i class="nav-item-icon icon glyphicon glyphicon-random"></i>
                Mapeamento
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'ImportFileController.list'? 'active' : '' }">
            <a href="/upload/list">
                <i class="nav-item-icon icon glyphicon glyphicon-import"></i>
                Importar Planilha
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'DevController.list'? 'active' : '' }">
            <a href="/dev">
                <i class="nav-item-icon glyphicon glyphicon-tower"></i>
                Atributos Fixos
            </a>
        </li>
        <li class="side-nav-item ${request.action == 'DevController.list'? 'active' : '' }">
            <a href="/dev">
                <i class="nav-item-icon icon glyphicon glyphicon-export"></i>
                Exportar
            </a>
        </li>
        
</ul><!-- /nav ul-->