#{extends 'theme/main.html' /} #{set 'moreScripts'}
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	var TUTORIAL_SAVVY = {

		/*return google visualization data*/
		getvisualizationData : function(verification, attrib1, jsonData) {

			var point1, point2, dataArray = [],

			data = new google.visualization.DataTable();

			data.addColumn('string', 'Name');

			data.addColumn('number', attrib1);

			data.addColumn({
				type : 'string',
				role : 'tooltip',
				'p' : {
					'html' : true
				}
			});

			data.addColumn('number', 'Atributo de verificação');

			data.addColumn({
				type : 'string',
				role : 'tooltip',
				'p' : {
					'html' : true
				}
			});

			/* for loop code for changing inputdata to 'data' of type google.visualization.DataTable*/
			$.each(jsonData, function(i, obj) {

				point1 = "Math : " + obj.mathematicsMark + "";

				point2 = "Computer : " + obj.computerMark + "";

				//var from = obj.name.split("/");
				//var f = new Date(from[2], from[1] - 1, from[0]);
				
				dataArray.push([ obj.name, obj.mathematicsMark,
						TUTORIAL_SAVVY.returnTooltip(point1, point2),
						obj.computerMark,
						TUTORIAL_SAVVY.returnTooltip(point1, point2) ]);
			});

			data.addRows(dataArray);

			return data;
		},
		/*return options for bar chart: these options are for various configuration of chart*/
		getOptionForBarchart : function(attrib1) {

			var options = {
				title: 'Gráfico: ' + attrib1,
				animation : {
					duration : 2000,
					easing : 'out'
				},
				curveType : 'function',
				

				isStacked : true,
				height : 400,
				backgroundColor : '#fff',
				colors : [ "#68130E", "#c65533" ],
				fontName : 'roboto',
				fontSize : 12,
				legend : {
					position : 'top',
					alignment : 'end',
					textStyle : {
						color : '#b3b8bc',
						fontName : 'roboto',
						fontSize : 12
					}
				},
				tooltip : {
					isHtml : true,
					showColorCode : true,
					isStacked : true
				},
				series: {
			          0: {targetAxisIndex: 0},
			        },
			        hAxis: {
			          ticks: [new Date(2016, 0), new Date(2016, 1), new Date(2016, 2), new Date(2016, 3),
			                  new Date(2016, 4),  new Date(2016, 5), new Date(2016, 6), new Date(2016, 7),
			                  new Date(2016, 8), new Date(2016, 9), new Date(2016, 10), new Date(2016, 11)
			                 ]
			        }
			};
			return options;
		},
		/*Draws a Bar chart*/
		drawBarChart : function(verification, attrib1, inputdata) {

			var barOptions = TUTORIAL_SAVVY.getOptionForBarchart(attrib1),

			data = TUTORIAL_SAVVY.getvisualizationData(verification, attrib1, inputdata),

			chart = new google.visualization.LineChart(document
					.getElementById('student-bar-chart'));

			chart.draw(data, barOptions);
			/*for redrawing the bar chart on window resize*/
			$(window).resize(function() {

				chart.draw(data, barOptions);
			});
		},
		/* Returns a custom HTML tooltip for Visualization chart*/
		returnTooltip : function(dataPoint1, dataPoint2) {

			return "<div style='height:30px;width:150px;font:12px,roboto;padding:15px 5px 5px 5px;border-radius:3px;'>"
					+ "<span style='color:#68130E;font:12px,roboto;padding-right:20px;'>"
					+ dataPoint1
					+ "</span>"
					+ "<span style='color:#c65533;font:12px,roboto;'>"
					+ dataPoint2 + "</span></div>";
		},
		/*Makes ajax call to servlet and download data */
		getStudentData : function() {
			var constantNumber = 1.9;
			$.ajax({

				url : "chart/data?constantNumber="
						+ document.getElementById('atributoNome')
						+ "&parameterName=dap",

				dataType : "JSON",

				success : function(data) {
					TUTORIAL_SAVVY.drawBarChart(data);
				}
			});
		}
	};

	google.load("visualization", "1", {
		packages : [ "corechart" ]
	});

	$(document).ready(function() {
		//TUTORIAL_SAVVY.getStudentData();

	});
</script>
#{/set} 
#{set title:'' /}

<div class="form-group col-md-10">
	 <p class="text-center">
	 	<center><h2>Gráfico</h2></center>
	 </p>
</div>



                                    
<form class="form-horizontal" role="form">
<div class="form-group col-md-8">
	<fieldset>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input">Atributo de verificação</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="verification" placeholder="Digite um número">
			</div>
		</div>
		<!-- /form-group -->
		<div class="form-group">
			<label class="col-sm-2 control-label" for="input">Nome do atributo</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="atributoNome" placeholder="Nome do atributo">
			</div>
		</div>
		<!-- /form-group -->

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a href="#" onclick='var attrib1 = $("#atributoNome").val();
					var verification = $("#verification").val();
				$.ajax({

					url : "chart/data?constantNumber=" + verification
							
							+ "&parameterName=" + attrib1,

					dataType : "JSON",

					success : function(data) {
						TUTORIAL_SAVVY.drawBarChart(verification, attrib1, data);
					}
				});'>Obter gráfico</a>
			</div>
		</div>
		<!-- /form-group -->
	</fieldset>
	<!-- /fieldset -->
</div>
</form>
<!-- /form -->
<div id="panel2"
	class="panel panel-default magic-element width-full isotope-item col-md-10"
	style="position: relative">
	<div id="student-bar-chart"></div>
</div>
